name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  static:
    name: Static code checks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check formatting
      run: cargo fmt --all -- --check

  build:
    name: Fedora tests
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora:42
      options: --privileged
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: dnf install -y cargo clang clippy kernel-devel libbpf-devel llvm-devel rustfmt
    - name: Copy vmlinux.h
      run: |
        cp $(rpm -ql kernel-devel | grep '/vmlinux.h$' | tail -1) agent/src/bpf
        cp $(rpm -ql kernel-devel | grep '/vmlinux.h$' | tail -1) agent/tests/agenttest/src/bpf
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: |
        cargo test --verbose --workspace --exclude crypto-auditing-agent
    - name: Run integration tests
      run: |
        cd agent
        cargo test --verbose
        cd -
    - name: Run clippy
      run: cargo clippy
